$breakpoint-phone: 425px;
$breakpoint-tablet: 768px;
$breakpoint-lg: 992px;
$breakpoint-laptop: 1120px;

.dashboard-layout {
  & .stat-heading {
    font-weight: 700;
    font-size: 2.5em;
    letter-spacing: 1.2px;
    padding-top: 1em;
  }

  & .stat-subheading {
    font-size: 1.8em;
  }

  & .stat-subdiv {
    @media (min-width: $breakpoint-laptop) {
      max-width: 75%;
    }

    & .heading {
      @media (min-width: $breakpoint-laptop) {
        flex-direction: row;
      }
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      & .filter {
        max-width: 35%;

        & label {
          padding-right: 10px;
          font-size: 1.2em;
        }
      }
    }
    & .stats-container {
      margin-top: 20px;
    }

    & .highestRunGetter-stat {
      display: grid;
      grid-template-areas: "number1" "number2" "number3";
      @media (min-width: $breakpoint-tablet) {
        grid-template-areas: "number1 number1" "number2 number3";
      }
      @media (min-width: $breakpoint-laptop) {
        grid-template-areas: "number1 . ." "number1 number2 number3";
      }
      & .stat-card {
        @media (min-width: $breakpoint-phone) {
          min-width: 250px;
        }
        border-radius: 10px;
        box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
        margin: 10px;
      }
      .stat-card:nth-child(1) {
        background: #ee0979;
        background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);
        background: linear-gradient(to right, #ff6a00, #ee0979);
        flex: 2;
        max-width: 420px;
        grid-area: number1;
        &:hover {
          background: -webkit-linear-gradient(to left, #ff6a00, #ee0979);
          background: linear-gradient(to left, #ff6a00, #ee0979);
        }
        & .ant-statistic-title {
          @media (min-width: $breakpoint-phone) {
            font-size: 2em;
          }
          color: #ffc9c9;
        }
        & .ant-statistic-content {
          @media (min-width: $breakpoint-phone) {
            font-size: 3em;
          }
        }
      }
      & .stat-card:nth-child(2),
      .stat-card:nth-child(3) {
        background: #232526;
        background: -webkit-linear-gradient(to right, #414345, #232526);
        background: linear-gradient(to right, #414345, #232526);
        align-self: flex-end;
        &:hover {
          background: -webkit-linear-gradient(to left, #414345, #232526);
          background: linear-gradient(to left, #414345, #232526);
        }
        @media (max-width: $breakpoint-laptop) {
          max-width: 420px;
        }
      }
      & .stat-card:nth-child(2) {
        grid-area: number2;
      }

      & .stat-card:nth-child(3) {
        grid-area: number3;
      }
    }

    & .bar-graph-container {
      height: 500px;
    }

    & .line-chart-container {
      @media (max-width: $breakpoint-lg) {
        height: 700px;
      }
    }

    & .partnership-chart-container {
      @media (min-width: $breakpoint-tablet) {
        height: 500px;
      }
      height: 300px;
    }
  }
}
