@import "~antd/dist/antd.dark.css";

$breakpoint-phone: 425px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1120px;

.dashboard-layout {
  min-height: 100vh;
  font-family: Oswald;

  & .ant-layout-sider {
    flex: unset !important;
    max-width: unset !important;
    width: max-content !important;
  }

  & .logo {
    margin: 40px;

    & img {
      max-width: 230px;
    }
  }

  & .logo-collapsed {
    margin: 20px;

    & img {
      max-width: 40px;
    }
  }

  & .nav-menu {
    font-size: 20px;

    & li {
      height: 80px;
      display: flex;
      align-items: center;

      & svg {
        width: 2em;
        height: 2em;
        margin-right: 15px;
        filter: brightness(0) saturate(100%) invert(100%) sepia(90%)
          saturate(748%) hue-rotate(77deg) brightness(94%) contrast(96%);
      }

      & .svg-focus {
        filter: brightness(0) saturate(100%) invert(14%) sepia(49%)
          saturate(7034%) hue-rotate(342deg) brightness(103%) contrast(98%);
      }
    }
  }

  & .ant-layout-sider-trigger {
    position: unset;
    width: unset !important;
  }

  & .site-layout .site-layout-container {
    margin: 0 16px;

    & .site-layout-background {
      padding: 24px;
      min-height: 360px;

      & .stat-heading {
        font-weight: 700;
        font-size: 2.5em;
        letter-spacing: 1.2px;
        padding-top: 1em;
      }

      & .stat-subheading {
        font-size: 1.8em;
      }

      & .stat-subdiv {
        @media (min-width: $breakpoint-laptop) {
          max-width: 75%;
        }

        & .heading {
          @media (min-width: $breakpoint-laptop) {
            flex-direction: row;
          }
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          & .filter {
            max-width: 35%;

            & label {
              padding-right: 10px;
              font-size: 1.2em;
            }
          }
        }
        & .stats-container {
          margin-top: 20px;
          display: grid;
          grid-template-areas: "number1" "number2" "number3";
          height: 220px;
          @media (min-width: $breakpoint-tablet) {
            grid-template-areas: "number1 number1" "number2 number3";
          }
          @media (min-width: $breakpoint-laptop) {
            grid-template-areas: "number1 . ." "number1 number2 number3";
          }
          & .stat-card {
            @media (min-width: $breakpoint-phone) {
              min-width: 250px;
            }
            border-radius: 10px;
            box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
            margin: 10px;
          }
        }
        & .highestRunGetter-stat {
          .stat-card:nth-child(1) {
            background: #ee0979;
            background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);
            background: linear-gradient(to right, #ff6a00, #ee0979);
            flex: 2;
            max-width: 420px;
            grid-area: number1;
            & .ant-statistic-title {
              @media (min-width: $breakpoint-phone) {
                font-size: 2em;
              }
              color: #ffc9c9;
            }
            & .ant-statistic-content {
              @media (min-width: $breakpoint-phone) {
                font-size: 3em;
              }
            }
          }
          & .stat-card:nth-child(2),
          .stat-card:nth-child(3) {
            background: #232526;
            background: -webkit-linear-gradient(to right, #414345, #232526);
            background: linear-gradient(to right, #414345, #232526);
            align-self: flex-end;
            @media (max-width: $breakpoint-laptop) {
              max-width: 420px;
            }
          }
          & .stat-card:nth-child(2) {
            grid-area: number2;
          }

          & .stat-card:nth-child(3) {
            grid-area: number3;
          }
        }
      }
    }
  }
}
