@import "~antd/dist/antd.dark.css";

.dashboard-layout {
  min-height: 100vh;
  font-family: Oswald;

  & .ant-layout-sider {
    flex: unset !important;
    max-width: unset !important;
    width: max-content !important;
  }

  & .logo {
    margin: 40px;

    & img {
      max-width: 230px;
    }
  }

  & .logo-collapsed {
    margin: 20px;

    & img {
      max-width: 40px;
    }
  }

  & .nav-menu {
    font-size: 20px;

    & li {
      height: 80px;
      display: flex;
      align-items: center;

      & svg {
        width: 2em;
        height: 2em;
        margin-right: 15px;
        filter: brightness(0) saturate(100%) invert(100%) sepia(90%)
          saturate(748%) hue-rotate(77deg) brightness(94%) contrast(96%);
      }

      & .svg-focus {
        filter: brightness(0) saturate(100%) invert(14%) sepia(49%)
          saturate(7034%) hue-rotate(342deg) brightness(103%) contrast(98%);
      }
    }
  }

  & .ant-layout-sider-trigger {
    position: unset;
    width: unset !important;
  }
}
