@import "~antd/dist/antd.dark.css";

.dashboard-layout {
  min-height: 100vh;
  font-family: Oswald;
}

.dashboard-layout .ant-layout-sider {
  flex: unset !important;
  max-width: unset !important;
  width: max-content !important;
}

.dashboard-layout .logo {
  margin: 40px;
}

.dashboard-layout .logo img {
  max-width: 230px;
}

.dashboard-layout .nav-menu {
  font-size: 20px;
}

.dashboard-layout .nav-menu li {
  height: 80px;
  display: flex;
  align-items: center;
}

.dashboard-layout .nav-menu li svg {
  width: 2em;
  height: 2em;
  margin-right: 15px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(90%) saturate(748%)
    hue-rotate(77deg) brightness(94%) contrast(96%);
}

.dashboard-layout .nav-menu li .svg-focus {
  filter: brightness(0) saturate(100%) invert(14%) sepia(49%) saturate(7034%)
    hue-rotate(342deg) brightness(103%) contrast(98%);
}
